@import url(https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jacquard+12+Charted&display=swap);


body {
    background-color: rgb(197, 206, 173);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    color: rgb(204, 255, 0);
    transition: opacity 1s ease-in;
}

a {
    font-family: "Jacquard 12", "Arial", sans-serif;
    font-size: 1.5em;
    color: rgb(204, 255, 0);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(204, 255, 0);
    border-radius: 20px;
    filter: blur(4px);
    transition: all 0.3s;
    display: inline-block;
    margin: 10px; /* Space between the links */
    padding: 10px 20px; /* Padding for the links */
    text-decoration: none;
    background-color: rgba(204, 255, 0, 0.3); /* Background color for visibility */
    border: 2px solid rgb(204, 255, 0); /* Border color */
    border-radius: 5px; /* Rounded corners */
    color: rgb(3, 0, 109); /* Text color */
    font-size: 1.2em; /* Font size */
    transition: opacity 1s ease-in, font-size 0.3s, filter 0.3s;
}

a:hover {
    color: rgb(3, 0, 109);
    font-size: 1.5em;
    filter: none;
}

